.footer {
  height: calc((380 / 1920) * 100vw);
  background-color: var(--secondary);

  .footer_container {
    display: flex;
    padding: calc((40 / 1920) * 100vw) calc((100 / 1920) * 100vw);
    justify-content: space-between;
    font-size: calc((16 / 1920) * 100vw);

    .left_container {
      width: calc((330 / 1920) * 100vw);

      img {
        margin-bottom: calc((24 / 1920) * 100vw);
      }
    }

    .center_container {
      display: flex;
      width: calc((600 / 1920) * 100vw);
      justify-content: space-between;

      .center_div {
        display: flex;
        flex-direction: column;

        h4 {
          font-size: calc((20 / 1920) * 100vw);
          margin-bottom: calc((24 / 1920) * 100vw);
          color: var(--primary);
        }

        p {
          margin-bottom: calc((16 / 1920) * 100vw);

          .link {
            color: var(--p-tag);
            text-decoration: none;
          }
        }

        .contact_info_div {
          display: flex;
          align-items: center;
          gap: calc((10 / 1920) * 100vw);
          margin-bottom: calc((16 / 1920) * 100vw);

          .mail_text {
            color: var(--p-tag);
          }
        }
      }
    }

    .right_container {
      div {
        margin-top: calc((10 / 1920) * 100vw);
        display: flex;
        gap: calc((5 / 1920) * 100vw);
      }
    }
  }

  .footer_last_line {
    margin-top: calc((50 / 1920) * 100vw);
    text-align: center;
  }
}
